<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Control_EyS.My.MySettings.BDQUICKIEConnectionString"
            connectionString="Data Source=LAPTOP-GES6FLL2;Initial Catalog=BDQUICKIE;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
		<add name="Control_EyS.My.MySettings.CsBDQUICKIE" connectionString="Data Source=localhost;Initial Catalog=BDQUICKIE;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
		<add name="BDQUICKIE" connectionString="Data Source=localhost;Initial Catalog=BDQUICKIE;Integrated Security=True"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>